.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  position: relative;
  font-family: "Montserrat", "Tahoma", sans-serif;
  color: $base-black;
}

img {
  max-width: 100%;
  object-fit: contain;
}
